In [6]:
import pandas as pd
data={
    'Name':['Abrar','Anik','Akib','Tofiq','Samir'],
    'Age':[25,None,44,33,None],
    'Salary':[50000,60000,70000,None,None]
    }
df=pd.DataFrame(data)
print("Original dataframe")
print(df)
print(df.isnull().sum())
df_drop=df.dropna()
print(df_drop) # drop rows with any null values

#Now we will fill the null values with mean of that column
df['Age'].fillna(df['Age'].mean(),inplace=True)
df['Salary'].fillna(df['Salary'].mean(),inplace=True)
print("Filled values with mean of that column")
print(df)

Original dataframe
    Name   Age   Salary
0  Abrar  25.0  50000.0
1   Anik   NaN  60000.0
2   Akib  44.0  70000.0
3  Tofiq  33.0      NaN
4  Samir   NaN      NaN
Name      0
Age       2
Salary    2
dtype: int64
    Name   Age   Salary
0  Abrar  25.0  50000.0
2   Akib  44.0  70000.0
Filled values with mean of that column
    Name   Age   Salary
0  Abrar  25.0  50000.0
1   Anik  34.0  60000.0
2   Akib  44.0  70000.0
3  Tofiq  33.0  60000.0
4  Samir  34.0  60000.0