In [1]:
from sklearn.preprocessing import LabelEncoder 
import pandas as pd


df=pd.read_csv('sample_data.csv')

df_label=df.copy()

le=LabelEncoder()

df_label['Gender_Encoded']=le.fit_transform(df_label['Gender'])
df_label['Passed_Encoded']=le.fit_transform(df_label['Passed'])

print('\n Label Encoded DataFrame')
print(df_label[['Name','Gender','Gender_Encoded','Passed','Passed_Encoded']].head())

 Label Encoded DataFrame
     Name  Gender  Gender_Encoded Passed  Passed_Encoded
0    Akib    Male               1    Yes               1
1  Nusrat  Female               0    Yes               1
2    Anik    Male               1     No               0
3   Sadia  Female               0    Yes               1
4   Fahim    Male               1    Yes               1

In [2]:
#One-Hot encoding
""" This feature turns a categorical feature into a set of binary indicator feature.
Original feature with N categories will be replaced by N new features.
"""
df_encoded=pd.get_dummies(df_label,columns=['City'])
print('\n One-Hot encoded(City)')
print(df_encoded)

 One-Hot encoded(City)
       Name  Gender Passed  Gender_Encoded  Passed_Encoded  City_Barishal  \
0      Akib    Male    Yes               1               1          False
1    Nusrat  Female    Yes               0               1          False
2      Anik    Male     No               1               0          False
3     Sadia  Female    Yes               0               1          False
4     Fahim    Male    Yes               1               1          False
5     Pavel    Male     No               1               0           True
6     Sajid    Male    Yes               1               1          False
7    Jannat  Female    Yes               0               1          False
8    Mehedi    Male     No               1               0          False
9     Abrar    Male    Yes               1               1          False
10   Shakib    Male    Yes               1               1          False
11    Tofiq    Male     No               1               0          False
12    Tareq    Male    Yes               1               1          False
13    Faria  Female    Yes               0               1          False
14     Arif    Male     No               1               0          False
15  Sharmin  Female    Yes               0               1          False
16   Ridwan    Male    Yes               1               1          False
17    Lamia  Female     No               0               0          False
18   Sabbir    Male    Yes               1               1          False
19   Tasnim  Female    Yes               0               1          False

    City_Bogura  City_Chattogram  City_Cox's Bazar  City_Cumilla  ...  \
0         False            False             False         False  ...
1         False             True             False         False  ...
2         False            False             False         False  ...
3         False            False             False         False  ...
4         False            False             False         False  ...
5         False            False             False         False  ...
6         False            False             False         False  ...
7         False            False             False         False  ...
8         False            False             False          True  ...
9         False            False             False         False  ...
10        False            False             False         False  ...
11        False            False             False         False  ...
12         True            False             False         False  ...
13        False            False             False         False  ...
14        False            False             False         False  ...
15        False            False             False         False  ...
16        False            False              True         False  ...
17        False            False             False         False  ...
18        False            False             False         False  ...
19        False            False             False         False  ...

    City_Kushtia  City_Mymensingh  City_Narayanganj  City_Noakhali  \
0          False            False             False          False
1          False            False             False          False
2          False            False             False          False
3          False            False             False          False
4          False            False             False          False
5          False            False             False          False
6          False            False             False          False
7          False             True             False          False
8          False            False             False          False
9          False            False             False           True
10         False            False             False          False
11         False            False              True          False
12         False            False             False          False
13         False            False             False          False
14         False            False             False          False
15          True            False             False          False
16         False            False             False          False
17         False            False             False          False
18         False            False             False          False
19         False            False             False          False

    City_Pabna  City_Rajshahi  City_Rangpur  City_Sunamganj  City_Sylhet  \
0        False          False         False           False        False
1        False          False         False           False        False
2        False          False         False           False         True
3        False           True         False           False        False
4        False          False         False           False        False
5        False          False         False           False        False
6        False          False          True           False        False
7        False          False         False           False        False
8        False          False         False           False        False
9        False          False         False           False        False
10       False          False         False           False        False
11       False          False         False           False        False
12       False          False         False           False        False
13        True          False         False           False        False
14       False          False         False           False        False
15       False          False         False           False        False
16       False          False         False           False        False
17       False          False         False           False        False
18       False          False         False           False        False
19       False          False         False            True        False

    City_Tangail
0          False
1          False
2          False
3          False
4          False
5          False
6          False
7          False
8          False
9          False
10         False
11         False
12         False
13         False
14         False
15         False
16         False
17         False
18          True
19         False

[20 rows x 25 columns]

In [3]:
"""
Previous Program gave us boolean values like True or false. But we need to convert them into 0 and 1. 

"""

df_encoded = pd.get_dummies(df_label, columns=['City'])
bool_cols = df_encoded.select_dtypes(include='bool').columns
df_encoded[bool_cols] = df_encoded[bool_cols].astype('uint8')
print(df_encoded.head())

     Name  Gender Passed  Gender_Encoded  Passed_Encoded  City_Barishal  \
0    Akib    Male    Yes               1               1              0
1  Nusrat  Female    Yes               0               1              0
2    Anik    Male     No               1               0              0
3   Sadia  Female    Yes               0               1              0
4   Fahim    Male    Yes               1               1              0

   City_Bogura  City_Chattogram  City_Cox's Bazar  City_Cumilla  ...  \
0            0                0                 0             0  ...
1            0                1                 0             0  ...
2            0                0                 0             0  ...
3            0                0                 0             0  ...
4            0                0                 0             0  ...

   City_Kushtia  City_Mymensingh  City_Narayanganj  City_Noakhali  City_Pabna  \
0             0                0                 0              0           0
1             0                0                 0              0           0
2             0                0                 0              0           0
3             0                0                 0              0           0
4             0                0                 0              0           0

   City_Rajshahi  City_Rangpur  City_Sunamganj  City_Sylhet  City_Tangail
0              0             0               0            0             0
1              0             0               0            0             0
2              0             0               0            1             0
3              1             0               0            0             0
4              0             0               0            0             0

[5 rows x 25 columns]